<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>{{title}}</title>

  <meta name="description" content="Shopify Filestack API">
  <meta name="author" content="Randy Rebucas">
  <meta name="email" content="rebucasrandy1986@gmail.com">

  <link rel="stylesheet" href="/javascripts/intl-tel-input-16.0.0/build/css/intlTelInput.min.css">

  <style>
    .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;

      /* Support for all WebKit browsers. */
      -webkit-font-smoothing: antialiased;
      /* Support for Safari and Chrome. */
      text-rendering: optimizeLegibility;

      /* Support for Firefox. */
      -moz-osx-font-smoothing: grayscale;

      /* Support for IE. */
      font-feature-settings: 'liga';
    }
    .md-18 {
      font-size: 18px;
    }
    .md-24 {
      font-size: 24px;
    }
  </style>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <script src="/javascripts/global.js"></script>
</head>
<body>

  {% block %}{% endblock %}

  <!--<footer> {% block footer %}{% endblock %} </footer>-->
  

  
  <script>
    $(document).ready(function() {
        /*$('#edit_API').click(function() {
            $(this).addClass('hide');
            $('#frmApi').removeClass('hide');
            
        });
        $('#cancel').click(function() {
            $('#frmApi').addClass('hide');
            $('#edit_API').removeClass('hide');
        });*/

      /*$("#contact_number").intlTelInput({
        autoPlaceholder: 'polite',
        hiddenInput: "full_phone",
        allowExtensions: true,
        formatOnDisplay: true,
        autoFormat: false,
        autoHideDialCode: false,
        defaultCountry: "auto",
        nationalMode: true,
        numberType: "MOBILE",
        preventInvalidNumbers: true,
        separateDialCode: true,
        initialCountry: "auto",
        utilsScript: "../javascripts/intl-tel-input-16.0.0/build/js/utils.js",
        geoIpLookup: function(success, failure) {
          $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
                var countryCode = (resp && resp.country) ? resp.country : "";
                success(countryCode);
                var loc = resp.loc;
                var arrLoc = loc.split(',');
                $('#shipping_lat').val(arrLoc[0]);
                $('#shipping_lon').val(arrLoc[1]);
                $('#shipping_city').val(resp.city);
                $('#shipping_province').val(resp.region);
            });
        }
      });

        $("#orderFrm").validate({
            rules: {
                contact_email: {
                    required: true,
                    email: true,
                    maxlength: 50
                },
                contact_number: {
                    required: true,
                    maxlength: 15
                },
                shipping_firstname: {
                    required: true,
                    maxlength: 50
                },
                shipping_lastname: {
                    required: true,
                    maxlength: 50
                },
                shipping_address: {
                    required: true,
                    maxlength: 300
                },
                shipping_city: {
                    required: true,
                    maxlength: 150
                },
                shipping_postal_code: {
                    required: true,
                    maxlength: 6
                }
            },
            messages: {
                contact_email: {
                    required: 'Email is required!',
                    email: 'Enter only valid email!',
                    maxlength: jQuery.validator.format("Only {0} characters required!")
                },
                contact_number: {
                    required: 'Phone number is required!',
                    maxlength: jQuery.validator.format("Only {0} characters required!")
                },
                shipping_firstname: {
                    required: 'Firstname is required!',
                    maxlength: jQuery.validator.format("Only {0} characters required!")
                },
                shipping_lastname: {
                    required: 'Lastname is required!',
                    maxlength: jQuery.validator.format("Only {0} characters required!")
                },
                shipping_address: {
                    required: 'Address is required!',
                    maxlength: jQuery.validator.format("Only {0} characters required!")
                },
                shipping_city: {
                    required: 'City is required!',
                    maxlength: jQuery.validator.format("Only {0} characters required!")
                },
                shipping_postal_code: {
                    required: 'Postal code is required!',
                    maxlength: jQuery.validator.format("Only {0} characters required!")
                }
            },
            highlight: function(element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function(element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'small',
            errorClass: 'form-text text-danger',
            errorPlacement: function(error, element) {
                if (element.attr("name") == "contact_number") {
                    error.insertAfter(".iti");
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });*/

        // jQuery.validator.addMethod("phoneAU", function(value, element) {
        //     return this.optional(element) || /^((\+)?[1-9]{1,2})?([-\s\.])?((\(\d{1,4}\))|\d{1,4})(([-\s\.])?[0-9]{1,12}){1,2}$/.test(value.replace(/\s+/g, ""));
        // }, jQuery.validator.messages.phoneAU || "Please specify a valid phone number");  
    });
  </script>
  <script>

  </script>
  
</body>
</html>