 <legend>Choose your border...</legend>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="border" id="border-fullImage" value="Full Image">
            <label class="form-check-label" for="border-fullImage">Full Image</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="border" id="border-whiteBorder" value="White Border">
            <label class="form-check-label" for="border-whiteBorder">White Border</label>
        </div>
    </div>
    <p>Frame your image right to the edge for a sleek contemporary look or allow some space around the image for a more traditional feel.</p>