<form action="/products" method="post" id="productForm">
    <input type="hidden" name="variantImage" value=""/>
    <input type="hidden" name="variantFormat" value=""/>
    <input type="hidden" name="variantSize" value=""/>
    <input type="hidden" name="variantFrame" value=""/>
    <input type="hidden" name="variantBorder" value=""/>
    <input type="submit" name="submit" value="Add to Cart" class="btn btn-success" id="add-to-cart"/>
</form>