{% layout 'layout' %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!--<div class="float-right">
                    <a class="btn btn-primary" href="/orders" role="button">Orders</a>
                </div>-->
                <legend>General Settings</legend>
                <form action="/" method="post" id="productForm">
                    {% assign hasMetafield = false %}
                    {% if metafields %}
                        {% assign hasMetafield = true %}
                    {% endif %}
                    {% for metafield in metafields %}
                        {% if metafield.key == "filestackAPI" %}
                            <input name="filestackId" type="hidden" value="{{metafield.id}}">
                            <div class="form-group row">
                                <label for="filestackAPI" class="col-sm-4 col-form-label">Filestack API</label>
                                <div class="col-sm-8">
                                    <input name="filestackAPI" type="text" class="form-control" id="filestackAPI" value="{{metafield.value}}">
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="form-group row">
                        <div class="offset-md-4 col-sm-8">
                        <button type="submit" class="btn btn-primary">
                            {% if hasMetafield %}
                                Update
                            {% else %}
                                Save
                            {% endif %}
                        </button>
                        </div>
                    </div>
                </form>
                <hr/>

                <div>
                    <legend>Instruction</legend>
                    <ol>
                        <li>
                            <p>Create Snippets <code>products.filestack_source_fields.liquid</code></p>
                            <code>
                                &lcub;&percnt; assign filestack = product.metafields.filestack &percnt;&rcub; <br/>
                                &lcub;&percnt; assign key = 'filestackId' &percnt;&rcub; <br/>
                                &lt;a href="&lcub;&lcub; filestack[key] &rcub;&rcub;" target="_blank"&gt;View source image&lt;&sol;a&gt;
                            </code>
                        </li>
                        <li>
                            <p>Insert the code below under product description on <code>section/product-template.liquid</code></p>
                            <code>
                                &lcub;&percnt; include 'products.filestack_source_fields' &percnt;&rcub;
                            </code>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-md-4 offset-md-2">
                <!--<div class="alert alert-info">
                    <strong>NOTE:</strong><br/>
                    This settings is important for filestack to work. And other configuration.
                </div>

                <div class="list-group">
                    <a href="/products" class="list-group-item list-group-item-action">Products</a>
                    <a href="/orders" class="list-group-item list-group-item-action">Orders</a>
                  </div>-->
            </div>
        </div>
    </div>
</section>

{% block 'footer' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Copyright @ 2019, sixt4
            </div>
        </div>
    </div>
{% endblock %}