{% layout 'layout' %}

<style>
    section {
		padding-top: 1em;
	}
</style>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!--<div class="float-right">
                    <a class="btn btn-primary" href="/orders" role="button">Orders</a>
                </div>-->
                <legend>General Settings</legend>
                {% for metafield in metafields %}
                    {{metafield.key}}
                {% endfor %}
                <form action="/" method="post" id="productForm">
                    <div class="form-group row">
                        <label for="filestackAPI" class="col-sm-4 col-form-label">Filestack API</label>
                        <div class="col-sm-8">
                            <input name="filestackAPI" type="text" class="form-control" id="filestackAPI" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sample" class="col-sm-4 col-form-label">Password</label>
                        <div class="col-sm-8">
                            <input name="sample" type="text" class="form-control" id="sample" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-md-4 col-sm-8">
                        <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 offset-md-2">
                <div class="alert alert-info">
                    <strong>NOTE:</strong><br/>
                    This settings is important for filestack to work. And other configuration.
                </div>
            </div>
        </div>
    </div>
</section>

{% block 'footer' %}
  Copyright @ 2016, Harttle
{% endblock %}