{% layout 'layout' %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">


                <div>
                    <legend>Instruction</legend>
                    <ol>
                        <li>
                            <p>Create Snippets <code>products.filestack_source_fields.liquid</code> or <a href="/themes/create">Click here to create</a></p>
                            <code>
                                &lcub;&percnt; assign filestack = product.metafields.filestack &percnt;&rcub; <br/>
                                &lcub;&percnt; assign key = 'filestackId' &percnt;&rcub; <br/>
                                &lt;a href="&lcub;&lcub; filestack[key] &rcub;&rcub;" target="_blank"&gt;View source image&lt;&sol;a&gt;
                            </code>
                        </li>
                        <li>
                            <p>Insert the code below under product description on <code>section/product-template.liquid</code></p>
                            <code>
                                &lcub;&percnt; include 'products.filestack_source_fields' &percnt;&rcub;
                            </code>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-md-4 offset-md-2">
                <!--<div class="alert alert-info">
                    <strong>NOTE:</strong><br/>
                    This settings is important for filestack to work. And other configuration.
                </div>

                <div class="list-group">
                    <a href="/products" class="list-group-item list-group-item-action">Products</a>
                    <a href="/orders" class="list-group-item list-group-item-action">Orders</a>
                  </div>-->
            </div>
        </div>
    </div>
</section>

{% block 'footer' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Copyright @ 2019, sixt4
            </div>
        </div>
    </div>
{% endblock %}