<style>
    section {
		padding-top: 1em;
	}
</style>
<section>
    <div class="container-fluid">
        <dl>
            <dt>Shopify API Key: </dt>
            <dd><code>{{apiKey}}</code></dd>
            <dt>Shopify API Secret:</dt> 
            <dd><code>{{apiSecret}}</code></dd>
            <dt>Filestack API: </dt>
            <dd><code>{{filestackAPI}}</code></dd>
        </dl>
        <a href='https://dev.filestack.com/login/' target="_blank">Filestock Login</a>
    </div>
</section>