<style>
    section {
		padding-top: 1em;
	}
</style>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="float-right">
                    <a class="btn btn-primary" href="/orders" role="button">Orders</a>
                </div>
                <legend>General Settings</legend>
                <form>
                    <label>App Key</label>
                </form>
            </div>
        </div>
    </div>
</section>