<style>
    section {
		padding-top: 1em;
	}


</style>
<section>
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="/">Back</a>
            </li>
        </ul>
        <br/>

        <div class="row">
            <div class="col-md-12">
                {{o.order.name}}
                {{m}}
               
            </div>
        </div>
    </div>
</section>