<style>
    section {
		padding-top: 1em;
	}
	.media {
		margin-bottom: 1em;
	}
    li.media img {
        width: 5%;
    }
</style>
<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-unstyled">
					{{#each products}}
					<li class="media">
						<img src="{{this.image.src}}" class="mr-3" alt="{{this.title}}">
						<div class="media-body">
							<h5 class="mt-0 mb-1">{{this.title}}</h5>
							{{{this.body_html}}}
						</div>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</section>