{% layout 'layout' %}
<section id="create-framed-product">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
                <ul class="nav nav-pills nav-fill" id="variants" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="format-tab" data-toggle="tab" href="#format" role="tab" aria-controls="format" aria-selected="true">Format</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="size-tab" data-toggle="tab" href="#size" role="tab" aria-controls="size" aria-selected="false">Size</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="frame-tab" data-toggle="tab" href="#frame" role="tab" aria-controls="frame" aria-selected="false">Frame</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="border-tab" data-toggle="tab" href="#border" role="tab" aria-controls="border" aria-selected="false">Border</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="format" role="tabpanel" aria-labelledby="format-tab">
                        <legend>Choose your format...</legend>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="aspect" id="aspect-landscape" value="landscape">
                                <label class="form-check-label" for="aspect-landscape">Landscape</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="aspect" id="aspect-portrait" value="portrait">
                                <label class="form-check-label" for="aspect-portrait">Portrait</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="aspect" id="aspect-square" value="square">
                                <label class="form-check-label" for="aspect-square">Square</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary next-link upload-button" id="onUpload">Upload Image</button>
                        </div>
                        <p>Framing does not get much easier than this. Follow these 4 easy steps and we will have the finished work back to you in two weeks.</p>
                    </div>
                    <div class="tab-pane" id="size" role="tabpanel" aria-labelledby="size-tab">
                        <legend>Choose your size...</legend>
                    </div>
                    <div class="tab-pane" id="frame" role="tabpanel" aria-labelledby="frame-tab">
                        <legend>Choose your frame...</legend>
                    </div>
                    <div class="tab-pane" id="border" role="tabpanel" aria-labelledby="border-tab">
                        <legend>Choose your border...</legend>
                    </div>
                </div>
                <form action="/products" method="post" id="productForm">
                    <input type="hidden" name="variantImageUrl" value=""/>
                    <input type="hidden" name="variantFormat" value=""/>
                    <input type="hidden" name="variantSize" value=""/>
                    <input type="hidden" name="variantFrame" value=""/>
                    <input type="hidden" name="variantBorder" value=""/>
                    <input type="hidden" name="productPrice" value=""/>
                    <input type="hidden" name="productDescription" value=""/>
                    <input type="submit" name="submit" value="Order Now" class="btn btn-success" id="order-now"/>
                </form>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="preview">
                <img data-src="//cdn.shopify.com/s/files/1/1314/6345/t/31/assets/F_AppStep1.jpg?6454" src="//cdn.shopify.com/s/files/1/1314/6345/t/31/assets/F_AppStep1.jpg?6454" class="preview-image"/>
            </div>
        </div>
    </div>
  </div>
</section>

<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script>
    $(document).ready(function() {
        filestactShopify.init({
            forWardingAddress:   `{{urlProtocol}}://{{urlHost}}`,
            filestackAPI: `{{filestackApi}}`
        });

        filestactShopify.runProductForm();
    });
</script>