body {
    /*background: #e2e2e2;*/
}
section {
    padding-top: 1em;
}
footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 1em 0;
    background: #efefef;
    color: #555;
}
nav.navbar {
    margin-bottom: 2em;
}
.nav-fill .nav-item a:not(.active) {
    color: #b1b1b1;
}