<div id="shopify-section-footer" class="shopify-section">
    <style>
        .site-footer__hr {
            border-bottom: 1px solid #dcdcdc;
        }
        
        .site-footer p,
        .site-footer h4,
        .site-footer small {
            color: #3d4246;
        }
        
        .site-footer {
            background-color: #f5f5f5;
        }
        
        .site-footer a:hover {
            color: #61696f;
        }
    </style>

    <footer class="site-footer" role="contentinfo">

        <div class="page-width">
            <div class="grid grid--no-gutters small--text-center">
                <div class="grid__item one-half small--one-whole">
                    <div class="small--hide">
                        <small class="site-footer__copyright-content">© 2019, <a href="/" title="">benmessina</a></small>
                        <small class="site-footer__copyright-content site-footer__copyright-content-powered-by"><a target="_blank" rel="noopener" href="https://www.shopify.com?utm_campaign=poweredby&amp;utm_medium=shopify&amp;utm_source=onlinestore" aria-describedby="a11y-new-window-external-message">Powered by Shopify</a></small>
                    </div>
                </div>

                <div class="grid__item one-half small--one-whole">

                </div>
                <div class="grid__item medium-up--hide">
                    <small class="site-footer__copyright-content">© 2019, <a href="/" title="">benmessina</a></small>
                    <small class="site-footer__copyright-content site-footer__copyright-content--powered-by"><a target="_blank" rel="noopener" href="https://www.shopify.com?utm_campaign=poweredby&amp;utm_medium=shopify&amp;utm_source=onlinestore" aria-describedby="a11y-new-window-external-message">Powered by Shopify</a></small>
                </div>
            </div>
        </div>
    </footer>

</div>