<div id="shopify-section-header" class="shopify-section">

    <div data-section-id="header" data-section-type="header-section">

        <header class="site-header border-bottom logo--left" role="banner">
            <div class="grid grid--no-gutters grid--table site-header__mobile-nav">

                <div class="grid__item medium-up--one-quarter logo-align--left">

                    <h1 class="h2 site-header__logo">

                <a href="/" class="site-header__logo-image">
                  <img class="js lazyautosizes ls-is-cached lazyloaded" src="//cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_300x300.png?v=1563500993" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="3.841614906832298" data-sizes="auto" alt="benmessina" style="max-width: 220px" data-srcset="//cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_180x.png?v=1563500993 180w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_360x.png?v=1563500993 360w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_540x.png?v=1563500993 540w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_720x.png?v=1563500993 720w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_900x.png?v=1563500993 900w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_1080x.png?v=1563500993 1080w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_1296x.png?v=1563500993 1296w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_1512x.png?v=1563500993 1512w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_1728x.png?v=1563500993 1728w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_2048x.png?v=1563500993 2048w" sizes="220px" srcset="//cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_180x.png?v=1563500993 180w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_360x.png?v=1563500993 360w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_540x.png?v=1563500993 540w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_720x.png?v=1563500993 720w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_900x.png?v=1563500993 900w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_1080x.png?v=1563500993 1080w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_1296x.png?v=1563500993 1296w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_1512x.png?v=1563500993 1512w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_1728x.png?v=1563500993 1728w, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_2048x.png?v=1563500993 2048w">
                  <noscript>

                    <img src="//cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_220x.png?v=1563500993"
                         srcset="//cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_220x.png?v=1563500993 1x, //cdn.shopify.com/s/files/1/0105/1328/5182/files/Crop_Logo_220x@2x.png?v=1563500993 2x"
                         alt="benmessina"
                         style="max-width: 220px;">
                  </noscript>
                </a>

              </h1>

                </div>

                <nav class="grid__item medium-up--one-half small--hide" id="AccessibleNav" role="navigation">
                    <ul class="site-nav list--inline " id="SiteNav">

                        <li>
                            <a href="https://filestack.shopifyapi.com.au:3000/products/create" class="site-nav__link site-nav__link--main" aria-describedby="a11y-external-message">
                                <span class="site-nav__label">Print &amp; Frame</span>
                            </a>
                        </li>

                        <li>
                            <a href="https://{{storeName}}.myshopify.com/collections" class="site-nav__link site-nav__link--main">
                                <span class="site-nav__label">Frame Canvas</span>
                            </a>
                        </li>

                        <li>
                            <a href="https://{{storeName}}.myshopify.com/collections/all" class="site-nav__link site-nav__link--main">
                                <span class="site-nav__label">Print Only</span>
                            </a>
                        </li>

                        <li>
                            <a href="https://{{storeName}}.myshopify.com/collections/gift-cards/gift-card" class="site-nav__link site-nav__link--main">
                                <span class="site-nav__label">Gift Card</span>
                            </a>
                        </li>

                        <li>
                            <a href="https://{{storeName}}.myshopify.com/pages/frames" class="site-nav__link site-nav__link--main">
                                <span class="site-nav__label">Pricing</span>
                            </a>
                        </li>

                    </ul>

                </nav>

                <div class="grid__item medium-up--one-quarter text-right site-header__icons">
                    <div class="site-header__icons-wrapper">
                        <div class="site-header__search site-header__icon">
                            <form action="/search" method="get" class="search-header search" role="search">
                                <input class="search-header__input search__input" type="search" name="q" placeholder="Search" aria-label="Search">
                                <button class="search-header__submit search__submit btn--link site-header__icon" type="submit">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 37 40">
                                        <path d="M35.6 36l-9.8-9.8c4.1-5.4 3.6-13.2-1.3-18.1-5.4-5.4-14.2-5.4-19.7 0-5.4 5.4-5.4 14.2 0 19.7 2.6 2.6 6.1 4.1 9.8 4.1 3 0 5.9-1 8.3-2.8l9.8 9.8c.4.4.9.6 1.4.6s1-.2 1.4-.6c.9-.9.9-2.1.1-2.9zm-20.9-8.2c-2.6 0-5.1-1-7-2.9-3.9-3.9-3.9-10.1 0-14C9.6 9 12.2 8 14.7 8s5.1 1 7 2.9c3.9 3.9 3.9 10.1 0 14-1.9 1.9-4.4 2.9-7 2.9z"></path>
                                    </svg>
                                    <span class="icon__fallback-text">Submit</span>
                                </button>
                            </form>

                        </div>

                        <button type="button" class="btn--link site-header__icon site-header__search-toggle js-drawer-open-top" aria-controls="SearchDrawer" aria-expanded="false" aria-haspopup="dialog">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 37 40">
                                <path d="M35.6 36l-9.8-9.8c4.1-5.4 3.6-13.2-1.3-18.1-5.4-5.4-14.2-5.4-19.7 0-5.4 5.4-5.4 14.2 0 19.7 2.6 2.6 6.1 4.1 9.8 4.1 3 0 5.9-1 8.3-2.8l9.8 9.8c.4.4.9.6 1.4.6s1-.2 1.4-.6c.9-.9.9-2.1.1-2.9zm-20.9-8.2c-2.6 0-5.1-1-7-2.9-3.9-3.9-3.9-10.1 0-14C9.6 9 12.2 8 14.7 8s5.1 1 7 2.9c3.9 3.9 3.9 10.1 0 14-1.9 1.9-4.4 2.9-7 2.9z"></path>
                            </svg>
                            <span class="icon__fallback-text">Search</span>
                        </button>

                        <a href="/cart" class="site-header__icon site-header__cart">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-cart" viewBox="0 0 37 40">
                                <path d="M36.5 34.8L33.3 8h-5.9C26.7 3.9 23 .8 18.5.8S10.3 3.9 9.6 8H3.7L.5 34.8c-.2 1.5.4 2.4.9 3 .5.5 1.4 1.2 3.1 1.2h28c1.3 0 2.4-.4 3.1-1.3.7-.7 1-1.8.9-2.9zm-18-30c2.2 0 4.1 1.4 4.7 3.2h-9.5c.7-1.9 2.6-3.2 4.8-3.2zM4.5 35l2.8-23h2.2v3c0 1.1.9 2 2 2s2-.9 2-2v-3h10v3c0 1.1.9 2 2 2s2-.9 2-2v-3h2.2l2.8 23h-28z"></path>
                            </svg>
                            <span class="icon__fallback-text">Cart</span>

                            <div id="CartCount" class="site-header__cart-count">
                                <span>1</span>
                                <span class="icon__fallback-text medium-up--hide">item</span>
                            </div>

                        </a>

                        <button type="button" class="btn--link site-header__icon site-header__menu js-mobile-nav-toggle mobile-nav--open" aria-controls="MobileNav" aria-expanded="false" aria-label="Menu">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 37 40">
                                <path d="M33.5 25h-30c-1.1 0-2-.9-2-2s.9-2 2-2h30c1.1 0 2 .9 2 2s-.9 2-2 2zm0-11.5h-30c-1.1 0-2-.9-2-2s.9-2 2-2h30c1.1 0 2 .9 2 2s-.9 2-2 2zm0 23h-30c-1.1 0-2-.9-2-2s.9-2 2-2h30c1.1 0 2 .9 2 2s-.9 2-2 2z"></path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 40 40">
                                <path d="M23.868 20.015L39.117 4.78c1.11-1.108 1.11-2.77 0-3.877-1.109-1.108-2.773-1.108-3.882 0L19.986 16.137 4.737.904C3.628-.204 1.965-.204.856.904c-1.11 1.108-1.11 2.77 0 3.877l15.249 15.234L.855 35.248c-1.108 1.108-1.108 2.77 0 3.877.555.554 1.248.831 1.942.831s1.386-.277 1.94-.83l15.25-15.234 15.248 15.233c.555.554 1.248.831 1.941.831s1.387-.277 1.941-.83c1.11-1.109 1.11-2.77 0-3.878L23.868 20.015z" class="layer"></path>
                            </svg>
                        </button>

                    </div>

                </div>
            </div>

            <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
                <ul id="MobileNav" class="mobile-nav">

                    <li class="mobile-nav__item border-bottom">

                        <a href="https://filestack.shopifyapi.com.au:3000/products/create" class="mobile-nav__link" aria-describedby="a11y-external-message">
                            <span class="mobile-nav__label">Print &amp; Frame</span>
                        </a>

                    </li>

                    <li class="mobile-nav__item border-bottom">

                        <a href="/collections" class="mobile-nav__link">
                            <span class="mobile-nav__label">Frame Canvas</span>
                        </a>

                    </li>

                    <li class="mobile-nav__item border-bottom">

                        <a href="/collections/all" class="mobile-nav__link">
                            <span class="mobile-nav__label">Print Only</span>
                        </a>

                    </li>

                    <li class="mobile-nav__item border-bottom">

                        <a href="/collections/gift-cards/gift-card" class="mobile-nav__link">
                            <span class="mobile-nav__label">Gift Card</span>
                        </a>

                    </li>

                    <li class="mobile-nav__item">

                        <a href="/pages/frames" class="mobile-nav__link">
                            <span class="mobile-nav__label">Pricing</span>
                        </a>

                    </li>

                </ul>
            </nav>
        </header>

    </div>

    <script type="application/ld+json">
        { "@context": "http://schema.org", "@type": "Organization", "name": "benmessina", "logo": "https:\/\/cdn.shopify.com\/s\/files\/1\/0105\/1328\/5182\/files\/Crop_Logo_2474x.png?v=1563500993", "sameAs": [ "", "", "", "", "", "", "", "" ], "url": "https:\/\/benmessina.myshopify.com" }
    </script>

    <script type="application/ld+json">
        { "@context": "http://schema.org", "@type": "WebSite", "name": "benmessina", "potentialAction": { "@type": "SearchAction", "target": "https:\/\/benmessina.myshopify.com\/search?q={search_term_string}", "query-input": "required name=search_term_string" }, "url": "https:\/\/benmessina.myshopify.com" }
    </script>

</div>